*{
	margin: 0;
	padding: 0;
}

.tinbandau,.tinloadthem{
	width: 980px;
	margin: auto;
}

.chunho {
    font-size: 19px;
    z-index: 3;
    top: 45%;
    left: 15%;
    position: absolute;
    width: 70%;
    text-align: center;
    color: white;
    opacity: 0;
    transform: scale(0);
    transition:0.4s;
    transition-delay: 0.3s;
}

.chuto {
    top: 45%;
    left: 0;
    position: absolute;
    color: white;
    text-align: center;
    width: 100%;
    font-size: 30px;
    z-index: 5;
    transition:0.4s;
}

.tinto:hover .chuto{
	/*top: 34%;*/
	transform: translateY(-40px);
	/*transition:0.4s;*/
}

.tinto:hover .hinhvuong{
	opacity: 1;
	transform: scale(1);
}

.tinto:hover .chunho{
	opacity: 1;
	transform: scale(1);
	
}

.tinto:hover .xam{
	opacity: 0;
	
	
}

.hinhvuong {
	border: 1px solid white;
	position: absolute;
	top: 10%;left: 10%;
	height: 80%;
	width: 80%;z-index: 3;
	opacity: 0;
	ransform: scale(0);
	transition:0.4s;
	transition-delay: 0.3s;
}

.gradient {
    width: 450px;
    height: 350px;
    background-image: -webkit-linear-gradient(45deg,#5DCD6A 0%,#D38253 40%,#4B4A4A 100%);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    opacity: 0;
}

.gradient {}

.xam {
    width: 450px;
    height: 350px;
    background: #40404052;
    position: absolute;
    z-index: 1;
    top: 0px;
    left: 0px;
    transition:0.4s;
}

img.layer1 {
    height: 350px;
    /* width: 450px; */
}

.tinto {
    width: 450px;
    height: 350px;
    overflow: hidden;
    position: relative;
    margin: 20px;
    float: left;
}

.loadthem{
	margin:auto;
	clear: both;
	text-align: center;
	}

.btnloadthem{
	background-color: #74aad6;
	border: none;
	margin: auto;
	width: 100px;
	padding: 5px;

}


body {
    background-color: #545454;
}

